<!-- FORMULÁRIO NOVA ATIVIDADE -->
<div *ngIf="activityAction?.event?.action === addActivityAction">
  <form
  [formGroup]="addActivityForm"
  (ngSubmit)="handleSubmitAddActivity()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- Nome -->
      <input pInputText placeholder="Nome" formControlName="name">
      <!-- Responsável -->
      <p-dropdown
      styleClass="w-full"
      [options]="usersDatas"
      [(ngModel)]="selectedUsers"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um responsável"
      formControlName="responsableUser"></p-dropdown>
      <!-- Projeto -->
      <p-dropdown
      styleClass="w-full"
      [options]="projectDatas"
      [(ngModel)]="selectedProject"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um projeto"
      formControlName="project"></p-dropdown>
      <div class="flex flex-row gap-3">
        <!-- Data de inicio -->
        <p-calendar
        styleClass="custom-calendar"
        formControlName="startDate"
        placeholder="Selecione uma data de inicio"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        appendTo="body"></p-calendar>
        <!-- Data de conclusão -->
        <p-calendar
        styleClass="custom-calendar"
        formControlName="endDate"
        placeholder="Selecione uma data limite"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        appendTo="body"></p-calendar>
      </div>
      <!-- Descrição -->
      <input pInputTextarea placeholder="Descrição" formControlName="description">

      <div class="flex flex-row justify-content-center align-items-center m-1">
        <p-button
        [disabled]="!addActivityForm.valid"
        type="submit"
        label="Concluir"></p-button>
      </div>
    </div>
  </form>
</div>

<!-- FORMULARIO EDITAR ATIVIDADE -->
<div *ngIf="activityAction?.event?.action === editActivityAction">
  <form [formGroup]="editActivityForm" (ngSubmit)="handleSubmitEditActivity()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- Nome -->
      <input pInputText placeholder="Nome" formControlName="name">
      <!-- Responsável -->
      <p-dropdown
      styleClass="w-full"
      [options]="usersDatas"
      [(ngModel)]="this.activitySelectedDatas.idResponsableUser.id"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um responsável"
      formControlName="responsableUser"></p-dropdown>
      <!-- Projeto -->
      <p-dropdown
      styleClass="w-full"
      [options]="projectDatas"
      [(ngModel)]="this.activitySelectedDatas.idProjects.id"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um projeto"
      formControlName="project"></p-dropdown>
      <div class="flex flex-row gap-3">
        <!-- Data de inicio -->
        <p-calendar
        styleClass="custom-calendar"
        formControlName="startDate"
        placeholder="Selecione uma data de inicio"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        appendTo="body"></p-calendar>
        <!-- Data de conclusão -->
        <p-calendar
        styleClass="custom-calendar"
        formControlName="endDate"
        placeholder="Selecione uma data limite"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        appendTo="body"></p-calendar>
        <!-- Status -->
        <p-dropdown
        [options]="statusOptions"
        optionLabel="name"
        optionValue="name"
        placeholder="Selecione o status"
        formControlName="status"></p-dropdown>
      </div>

      <input pInputTextarea placeholder="Descrição" formControlName="description">

      <div class="flex flex-row justify-content-between align-items-center m-1">

        <button
        class="submit-activity"
        [disabled]="!editActivityForm.valid"
        type="submit"
        >Concluir</button>
      </div>
    </div>
  </form>


</div>

<!-- FORMULÁRIO REGISTRAR HORAS -->
<div *ngIf="activityAction?.event?.action === hoursActivityAction">
  <div>Atividade: {{this.activitySelectedDatas.name}}</div>
  <div>Responsável: {{this.activitySelectedDatas.idResponsableUser.name}}</div>
  <div>Projeto: {{this.activitySelectedDatas.idProjects.name}}</div>
  <div>Período: {{formatDateEntry(this.activitySelectedDatas.startDate, this.activitySelectedDatas.endDate)}}</div>
  <div>Status: {{this.activitySelectedDatas.status}}</div>

  <form
  [formGroup]="hoursActivityForm"
  (ngSubmit)="handleSubmitHoursActivity()">
    Dia inicio
    <p-calendar
        placeholder="Dia"
        dateFormat="dd/mm/yy"
        formControlName="startDay"
        appendTo="body"></p-calendar>
    Hora inicio
    <input type="time" formControlName='startHour'>
    <br>
    Dia fim
    <p-calendar
        placeholder="Dia"
        dateFormat="dd/mm/yy"
        formControlName="endDay"
        appendTo="body"></p-calendar>
    Hora fim
    <input
    type="time"
    formControlName='endHour'>
    <br>
    Descrição
    <input type="text" formControlName="description">

    <div class="flex flex-row justify-content-between align-items-center m-1">
      <button
      class="submit-activity"
      [disabled]="!hoursActivityForm.valid"
      type="submit"
      >Enviar</button>
    </div>
  </form>

  <div>
    Ultimos lançamentos:

  </div>
</div>
