<!-- FORMULÁRIO NOVA ATIVIDADE -->
<div *ngIf="activityAction?.event?.action === addActivityAction">
  <form
  [formGroup]="addActivityForm"
  (ngSubmit)="handleSubmitAddActivity()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- Nome -->
      <input pInputText placeholder="Nome" formControlName="name">
      <!-- Responsável -->
      <p-dropdown
      styleClass="w-full"
      [options]="usersDatas"
      [(ngModel)]="selectedUsers"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um responsável"
      formControlName="responsableUser"></p-dropdown>
      <!-- Projeto -->
      <p-dropdown
      styleClass="w-full"
      [options]="projectDatas"
      [(ngModel)]="selectedProject"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um projeto"
      formControlName="project"></p-dropdown>
      <div class="flex flex-row gap-3">
        <!-- Data de inicio -->
        <p-calendar
        styleClass="custom-calendar"
        formControlName="startDate"
        placeholder="Selecione uma data de inicio"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        appendTo="body"></p-calendar>
        <!-- Data de conclusão -->
        <p-calendar
        styleClass="custom-calendar"
        formControlName="endDate"
        placeholder="Selecione uma data limite"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        appendTo="body"></p-calendar>
      </div>
      <!-- Descrição -->
      <input pInputTextarea placeholder="Descrição" formControlName="description">

      <div class="flex flex-row justify-content-center align-items-center m-1" *ngIf="userProfileValue === 'ADMIN'">
        <p-button
        [disabled]="!addActivityForm.valid"
        type="submit"
        label="Concluir"></p-button>
      </div>
    </div>
  </form>
</div>

<!-- FORMULARIO EDITAR ATIVIDADE -->
<div *ngIf="activityAction?.event?.action === editActivityAction">
  <form [formGroup]="editActivityForm" (ngSubmit)="handleSubmitEditActivity()">
    <div class="card flex flex-column md:flex-column gap-3">
      <!-- Nome -->
      <input pInputText placeholder="Nome" formControlName="name">
      <!-- Responsável -->
      <p-dropdown
      styleClass="w-full"
      [options]="usersDatas"
      [(ngModel)]="this.activitySelectedDatas.idResponsableUser.id"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um responsável"
      formControlName="responsableUser"></p-dropdown>
      <!-- Projeto -->
      <p-dropdown
      styleClass="w-full"
      [options]="projectDatas"
      [(ngModel)]="this.activitySelectedDatas.projectId.id"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecione um projeto"
      formControlName="project"></p-dropdown>
      <div class="flex flex-row gap-3">
        <!-- Data de inicio -->
        <p-calendar
        styleClass="custom-calendar"
        formControlName="startDate"
        placeholder="Selecione uma data de inicio"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        appendTo="body"></p-calendar>
        <!-- Data de conclusão -->
        <p-calendar
        styleClass="custom-calendar"
        formControlName="endDate"
        placeholder="Selecione uma data limite"
        dateFormat="dd/mm/yy"
        [minDate]="minDate"
        appendTo="body"></p-calendar>
        <!-- Status -->
        <p-dropdown
        [options]="statusOptions"
        optionLabel="name"
        optionValue="name"
        placeholder="Selecione o status"
        formControlName="status"></p-dropdown>
      </div>

      <input pInputTextarea placeholder="Descrição" formControlName="description">

      <div class="flex flex-row justify-content-between align-items-center m-1">

        <button
        class="submit-activity"
        [disabled]="!editActivityForm.valid"
        type="submit"
        *ngIf="userProfileValue === 'ADMIN'"
        >Concluir</button>
      </div>
    </div>
  </form>


</div>

<!-- FORMULÁRIO REGISTRAR HORAS -->
<div *ngIf="activityAction?.event?.action === hoursActivityAction">
  <div>Atividade: {{this.activitySelectedDatas.name}}</div>
  <div>Responsável: {{this.activitySelectedDatas.idResponsableUser.name}}</div>
  <div>Projeto: {{this.activitySelectedDatas.projectId.name}}</div>
  <div>Período: {{formatDateEntry(this.activitySelectedDatas.startDate, this.activitySelectedDatas.endDate)}}</div>
  <div>Status: {{this.activitySelectedDatas.status}}</div>

  <form
  [formGroup]="hoursActivityForm"
  (ngSubmit)="handleSubmitHoursActivity()">
    Dia inicio
    <p-calendar
        placeholder="Dia"
        dateFormat="dd/mm/yy"
        formControlName="entryDay"
        appendTo="body"></p-calendar>
        <br>
    Hora inicio
    <input type="time" formControlName='startHour' style="margin: 5px 0;">
    Hora fim
    <input type="time" formControlName='endHour'>
    <br>
    Descrição
    <input type="text" formControlName="description">

    <div class="flex flex-row justify-content-between align-items-center m-1">
      <button
      class="submit-activity"
      [disabled]="!hoursActivityForm.valid"
      type="submit"
      >Enviar</button>
    </div>
  </form>

  <div>
    Ultimos lançamentos:
    <p-table
    #hoursTable
    [value]="hoursDatas"
    [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Usuário</th>
          <th>Descrição</th>
          <th>Horas registradas</th>
          <th>Período registrado</th>
          <th>Data de Registro</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-entry >
        <tr *ngIf="editingEntry?.id !== entry.id">
          <td>{{entry.idUsers.name}}</td>
          <td>{{entry.description}}</td>
          <td>{{calculateHours(entry.startDate, entry.endDate)}} Hora(s)</td>
          <td>{{formatDateTimeRangeHours(entry.startDate, entry.endDate)}}</td>
          <td>{{entry.registerDate}}</td>
          <td>
            <button pTooltip="Editar registro" tooltipPosition="top" (click)="startEditing(entry)">
              <i class="pi pi-pencil"></i>
            </button>
            <button pTooltip="Deletar registro" tooltipPosition="top" (click)="handleDeleteHour(entry.id)">
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="editingEntry?.id === entry.id">
          <td>{{entry.idUsers.name}}</td>
          <td><input type="text" [(ngModel)]="editingEntry.description"></td>
          <td>- Hora(s)</td>
          <td>
            <p-calendar
              placeholder="Dia"
              dateFormat="dd/mm/yy"
              [(ngModel)]="editingEntry.startDate"
              appendTo="body"></p-calendar>
              -
            <input type="time" [(ngModel)]="editingEntry.startHour">
            às
            <input type="time" [(ngModel)]="editingEntry.endHour">
          </td>
          <td>{{editingEntry.registerDate}}</td>
          <td *ngIf="(userIdValue === this.activitySelectedDatas.idResponsableUser.id) || userProfileValue === 'ADMIN'">
            <button pTooltip="Confirmar" tooltipPosition="top" (click)="handleSubmitEditHours()">
              <i class="pi pi-check"></i>
            </button>
            <button pTooltip="Cancelar" tooltipPosition="top" (click)="cancelEditing()">
              <i class="pi pi-times"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
