<div class="grid">

  <div>
    <div class="flex justify-content-center align-content-center text-align-center">
        <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmitLoginForm()"
        >
          <p-card
            styleClass="login-c"
            *ngIf="loginCard">
            <div class="container-logo">
              protime-logo
            </div>
            <div class="container-slogan">
              Para começar
            </div>
            <div class="input-container">
              Email
              <input
              type="email"
              pInputText
              formControlName="email"
              placeholder="Email">
            </div>

            <div class="input-container">
              Senha
              <input
              type="password"
              pInputText
              formControlName="password"
              placeholder="Senha">
            </div>

            <div class="card flex justify-content-center">
              <button
                class="button-sub"
                type="submit"
                pButton
                pRipple
                label="Login"
                [disabled]="!this.loginForm.valid"
                >
              </button>
            </div>
          </p-card>
        </form>
    </div>
  </div>

</div>
