<div class="menu-container"

>
  <div class="container-logo">
    <img src="../../../assets/images/logo.png" alt="">
  </div>

  <button routerLink="/dashboard" routerLinkActive="active">
    <i class="pi pi-home"></i>
    <span>Página inicial</span>
  </button>

  <button routerLink="/activities" routerLinkActive="active">
    <i class="pi pi-check-circle"></i>
    <span>Minhas Atividades</span>
  </button>


  <button routerLink="/projects" routerLinkActive="active">
    <i class="pi pi-folder"></i>
    <span>Projetos</span>
  </button>

  <button routerLink="/insights" routerLinkActive="active">
    <i class="pi pi-chart-line"></i>
    <span>Relatórios</span>
  </button>


  <!-- ADMIN -->
  <div class="separator" *ngIf="userIdValue === 'ADMIN'"></div>

  <h2 class="title" *ngIf="userIdValue === 'ADMIN'">Administração</h2>

  <button routerLink="/admin/users" routerLinkActive="active" *ngIf="userIdValue === 'ADMIN'">
    <i class="pi pi-users"></i>
    <span>Usuários</span>
  </button>

  <button routerLink="/admin/activities" routerLinkActive="active" *ngIf="userIdValue === 'ADMIN'">
    <i class="pi pi-check-circle"></i>
    <span>Atividades</span>
  </button>

  <button routerLink="/admin/projects" routerLinkActive="active" *ngIf="userIdValue === 'ADMIN'">
    <i class="pi pi-folder"></i>
    <span>Projetos</span>
  </button>

  <button routerLink="/admin/insights" routerLinkActive="active" *ngIf="userIdValue === 'ADMIN'">
    <i class="pi pi-chart-line"></i>
    <span>Relatórios - Admin</span>
  </button>
</div>
