<div class="container-card" >
  <p-card class="card-content">
    <div class="header-container">
      <span class="header-title">Minhas atividades</span>
      <button *ngIf="userIdValue === 'ADMIN'"
        class="add-activity"
        (click)="handleActivityEvent(addActivityEvent)">
          <i class="pi pi-plus"></i>
          <span>Adicionar atividade</span>
      </button>
    </div>
    <p-table
    #activitiesTable
    [value]="activities"
    [rows]="10"
    [paginator]="true"
    [responsive]="true"
    [globalFilterFields]="['name']"
    [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="activitySelected"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} atividades"
    [sortField]="'deleted'"
    [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" >
            <div class="flex justify-content-between align-items-center">
              <div class="flex justify-content-between align-items-center">
                Nome da tarefa
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="name"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="endDate" class="truncate-title">
            <div class="flex justify-content-between align-items-center" >
              <div class="flex justify-content-between align-items-center" class="truncate-title-text">
                Duração
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="endDate"
                display="menu"
                [showMenu]="false"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="projectId.name" class="truncate-title">
            <div class="flex justify-content-between align-items-center">
              <div class="flex justify-content-between align-items-center" class="truncate-title-text">
                Projeto
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="projectId.name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="projectId.name"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="idResponsableUser.name" class="truncate-title">
            <div class="flex justify-content-between align-items-center">
              <div class="flex justify-content-between align-items-center">
                Responsável
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="idResponsableUser.name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="idResponsableUser.name"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="status" class="truncate-title">
            <div class="flex justify-content-between align-items-center">
              <div class="flex justify-content-between align-items-center">
                Status
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="status"
                display="menu"
                [showMenu]="false"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-activity>
        <tr
        class="table-body"
        [ngClass]="getDeleted(activity?.deleted)"
        (click)="handleActivityEvent(editActivityEvent, activity?.id)">
          <td class="truncate">
            <div class="activity-container">
              <div class="activity-name">
                <button class="activity-mark-container" pTooltip="Registrar horas" tooltipPosition="top">
                  <i class="pi pi-plus-circle activity-mark"
                  [ngClass]="getIconClass(activity?.status)"
                  (click)="activity?.status !== 'CONCLUIDA' && handleActivityEvent(hoursActivityAction,activity?.id); $event.stopPropagation()"></i>
                </button>
                <span>
                  {{activity?.name}}
                </span>
              </div>
              <i class="pi pi-trash activity-trash" *ngIf="userIdValue === 'ADMIN'"
              (click)="handleDeleteActivity(activity?.id, activity?.name); $event.stopPropagation()"></i>
            </div>
          </td>
          <td class="truncate-text">{{formatDateRange(activity?.startDate, activity?.endDate)}}</td>
          <td class="truncate-text">{{activity?.projectId?.name}}</td>
          <td class="truncate-text">{{activity?.idResponsableUser?.name}}</td>
          <td class="truncate-text">
            <div [ngClass]="getStatusClass(activity?.status)">
              {{formatStatus(activity?.status)}}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
