<div class="container-card"
>
  <p-card class="card-content">
    <div class="header-container">
      <span class="header-title">
        <button
        class="back-project"
        (click)="backToProjects()">
          <i class="pi pi-arrow-left"></i>
          <span>
            Projetos
          </span>
        </button>
        <div>
          <div class="title-container">
            <span *ngIf="editingProject === null">
              {{project.name}}
            </span>
            <span *ngIf="editingProject !== null">
              <input type="text" [(ngModel)]="editingProject.name" class="inp-project"/>
            </span>
            <div *ngIf="editingProject === null && userIdValue === 'ADMIN'">
              <button
              (click)="startEditing(this.project)">
                <i class="pi pi-pencil"></i>
              </button>
              <button
              (click)="handleDeleteProject(project.id, project.name)">
                <i class="pi pi-trash"></i>
              </button>
            </div>
            <div *ngIf="editingProject !== null">
              <button
              class="btn-check"
              (click)="handleSubmitEditProject()">
                <i class="pi pi-check"></i>
              </button>
              <button
              (click)="cancelEditing()">
                <i class="pi pi-times"></i>
              </button>
            </div>
          </div>
        </div>
      </span>
      <button
        *ngIf="userIdValue === 'ADMIN'"
        class="add-activity"
        (click)="handleActivityEvent(addActivityEvent)">
          <i class="pi pi-plus"></i>
          <span>Adicionar atividade</span>
      </button>
    </div>
    <div *ngIf="editingProject === null"
    class="container-infos">
    <div>
      <div class="info-input">
        <span>Responsável:</span>
        <span style="padding: 0 10px;">
          {{project.idResponsableUser.name}}
        </span>
      </div>
      <div class="info-input">
        <span>Período:</span>
        <span style="padding: 0 10px;">
          {{formatDateRange(project.startDate, project.endDate)}}
        </span>
      </div>
        <div class="info-input">
          <span>Prioridade:</span>
          <span style="padding: 0 10px; text-transform: capitalize;">
            {{formatStatus(project.priority)}}
          </span>
        </div>
        <div class="info-input">
          <span>Status:</span>
          <span style="padding: 0 10px; text-transform: capitalize;">
            {{formatStatus(project.status)}}
          </span>
        </div>
    </div>

    <div>
      Descrição: <br>{{project.description}}
    </div>
    </div>

    <div *ngIf="editingProject !== null"
    class="container-infos">
    <div>
      <div>
        <div class="info-input">
          <span>Responsável:</span>
          <span class="resiz-inputs">
            <p-dropdown
            [options]="usersDatas"
            [(ngModel)]="editingProject.idResponsableUser.id"
            optionLabel="name"
            optionValue="id"
            placeholder="Selecione um responsável"></p-dropdown>
          </span>
        </div>
        <div class="info-input">
          <span>Período:</span>
          <span class="resiz-inputs">
            <p-calendar
        placeholder="Dia"
        dateFormat="dd/mm/yy"
        [(ngModel)]="editingProject.startDate"
        appendTo="body"></p-calendar> -
      <p-calendar
      placeholder="Dia"
      dateFormat="dd/mm/yy"
      [(ngModel)]="editingProject.endDate"
      appendTo="body"></p-calendar>
          </span>
        </div>
          <div class="info-input">
            <span>Prioridade:</span>
            <span>
              <p-dropdown
              [options]="projectPriorityOptions"
              [(ngModel)]="editingProject.priority"
              optionLabel="name"
              optionValue="id"
              placeholder="Selecione um responsável"></p-dropdown>
            </span>
          </div>
          <div class="info-input">
            <span>Status:</span>
            <span>
              <p-dropdown
              [options]="projectStatusOptions"
              [(ngModel)]="editingProject.status"
              optionLabel="name"
              optionValue="id"
              placeholder="Selecione um responsável"></p-dropdown>
            </span>
          </div>
      </div>
    </div>
    <div>
      Descrição:<br> <input pInputTextarea type="text" [(ngModel)]="editingProject.description" class="inp-desc">
    </div>
    </div>


    <p-table
    #activitiesTable
    [value]="activities"
    [rows]="10"
    [paginator]="true"
    [responsive]="true"
    [globalFilterFields]="['name']"
    [tableStyle]="{'min-width': '75rem'}"
    [(selection)]="activitySelected"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} atividades">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" >
            <div class="flex justify-content-between align-items-center">
              <div class="flex justify-content-between align-items-center">
                Nome da tarefa
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="name"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="endDate" class="truncate-title">
            <div class="flex justify-content-between align-items-center" >
              <div class="flex justify-content-between align-items-center" class="truncate-title-text">
                Duração
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="endDate"
                display="menu"
                [showMenu]="false"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="projectId.name" class="truncate-title">
            <div class="flex justify-content-between align-items-center">
              <div class="flex justify-content-between align-items-center" class="truncate-title-text">
                Projeto
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="projectId.name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="projectId.name"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="idResponsableUser.name" class="truncate-title">
            <div class="flex justify-content-between align-items-center">
              <div class="flex justify-content-between align-items-center">
                Responsável
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="idResponsableUser.name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="idResponsableUser.name"
                display="menu"
                matchMode="contains"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
          <th pSortableColumn="status" class="truncate-title">
            <div class="flex justify-content-between align-items-center">
              <div class="flex justify-content-between align-items-center">
                Status
              </div>
              <div class="flex justify-content-between align-items-center">
                <p-sortIcon field="name"></p-sortIcon>
                <p-columnFilter
                type="text"
                field="status"
                display="menu"
                [showMenu]="false"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false">
                </p-columnFilter>
              </div>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-activity>
        <tr
        class="table-body"
        (click)="handleActivityEvent(editActivityEvent, activity?.id)">
          <td class="truncate">
            <div class="activity-container">
              <div class="activity-name">
                <!-- <button class="activity-mark-container" pTooltip="Registrar horas" tooltipPosition="top">
                  <i class="pi pi-plus-circle activity-mark"
                  ></i>

                  [ngClass]="getIconClass(activity?.status)"
                  (click)="activity?.status !== 'CONCLUIDA' && handleActivityEvent(hoursActivityAction,activity?.id); $event.stopPropagation()"
                </button> -->
                {{activity?.name}}
              </div>
              <i class="pi pi-trash activity-trash"
              ></i>
              <!-- (click)="handleDeleteActivity(activity?.id, activity?.name); $event.stopPropagation()" -->
            </div>
          </td>
          <td class="truncate-text">{{formatDateRange(activity?.startDate, activity?.endDate)}}</td>
          <td class="truncate-text">{{activity?.projectId?.name}}</td>
          <td class="truncate-text">{{activity?.idResponsableUser?.name}}</td>
          <td class="truncate-text">
            <div [ngClass]="getStatusClass(activity?.status)">
              {{formatStatus(activity?.status)}}
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
